.farve_palette {
  color: hsl(192, 62%, 87%);
  color: hsl(193, 68%, 81%);
  color: hsl(192, 68%, 64%);
  color: hsl(194, 40%, 64%);
  color: hsl(199, 24%, 72%);
  color: hsl(190, 68%, 29%);
  color: hsl(190, 0%, 100%);
  color: hsl(190, 0%, 0%);
}

footer a {
  color: white;
}

a:hover {
  color: hsl(192, 68%, 64%);
}

#first_section ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
}

main {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 2rem;
}

img {
  padding: 0;
  width: 100%;
  height: 100%;
}

figure {
  max-width: 99%;
}

#first_section {
  background-color: white;
  position: sticky;
  top: 0;
  padding-bottom: 4px;
}

em {
  color: hsl(190, 68%, 29%);
  font-size: larger;
}

p {
  padding-top: 2rem;
}

.wrapper_spec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.wrapper_spec img {
  display: flex;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  #first_section ul {
    justify-content: space-around;
  }

  figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  figure .wrapper_spec {
    grid-column: 1 / 3;
  }

  #massage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  #div1 figure {
    display: block;
  }

  #div1 {
    grid-column: 1 / 3;
  }

  #ting li {
    padding-top: 10px;
  }

  figcaption {

  }
}
