/* Fælles css så kun til overordnet ting som titel og footer og header etc */
/*  side */

body {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 140%;
  padding-top: 1rem;
}

h1 {
  font-family: "EB Garamond", serif;
  padding-top: 0.5rem;
  padding-right: 1rem;
  font-size: 3rem;
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 10px;
}

/* header img {
  max-width: 80%;
} */

img {
  max-width: 100%;
  /* height: 100%; */
}

#logo {
  border: none;
  background: none;
}

#logo img {
  width: 90%;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  padding-top: 2rem;
}

h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  padding-top: 1rem;
}

footer img {
  max-width: 60%;
}

footer {
  padding: 25px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  border: solid;
  align-items: center;
  background-color: hsl(191, 55%, 19%);
  border-style: none;
  color: white;
}

footer p {
  color: white;
}

footer button {
  background: none;
  border: none;
}

/* indsæt for VALIDERING 
footer a {
  background: none;
  border: none;
}
*/

a {
  text-decoration: none;
  color: hsl(191, 55%, 19%);
}

header a:hover {
  color: rgb(170, 223, 233);
}

* {
  margin: 0;
  padding: 0;
}

header button {
  background-color: rgb(170, 223, 233);
  border-radius: 25%;
  border-style: solid;
  border-color: black;
}

header button:hover {
  background-color: rgb(115, 151, 158);
  border-radius: 25%;
  border-style: solid;
  border-color: black;
}

/* indsæt for VALIDERING
header a {
  background-color: rgb(170, 223, 233);
  border-radius: 25%;
  border-style: solid;
  border-color: black;
}

header a:hover {
  background-color: rgb(115, 151, 158);
  border-radius: 25%;
  border-style: solid;
  border-color: black;
}
*/

#burger_closed {
  background-image: url(../pics/burger_icon.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
}

#burger_opened {
  background-image: url(../pics/burger_closed.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  display: none;
}

#hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.burger_menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1;
  background: rgb(170, 223, 233);
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  /* 
  gap: 20px;
  flex-wrap: wrap; */
}

.burger_menu li {
  padding-left: 30%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(170, 223, 233);
  background-color: white;
}

.showMenu {
  transform: translateY(0%);
}

main {
  position: relative;
  padding-left: 1.5rem;
}

header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: hsl(192, 68%, 64%);
}

ul {
  padding: none;
}

@media only screen and (min-width: 600px) {
  #hamburger {
    display: none;
  }

  .burger_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateY(0);
    transition: transform 0.2s;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0%;
    background: none;
    gap: 3%;
    font-size: 1.5rem;
  }

  .burger_menu li {
    border-style: none;
    background: none;
    line-height: normal;
    padding: 0;
    gap: 30px;
  }

  #logo {
    display: flex;
    justify-content: center;
  }

  #logo_navn {
    max-width: 60%;
    min-width: 50%;
  }
}

a {
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
}
