/* daniels side */

body {
  margin: .5rem;
}

p {
    margin-top: .5rem;
    margin-bottom: .2rem;
  }

  .infotitel{
    font-weight: bold;
    
  }

  h1 {
    display: flex;
    justify-content: center;
    margin: .4rem;
  }

  .contaktblock{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px ;
  }

.map {
  grid-column: 1/2;
  }


.tekster {
  grid-column: 1/1;
  background-color: hsla(193.1,69.6%,60%,0.3);
  padding: .4rem;
}

@media (min-width: 600px) {
  .contaktblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    gap: 10px ;
  }


  .map {
    grid-column: 2/2;
    }
}

