/* daniels side */


p {
    margin-top: .4rem;
  }

  .infotitel{
    font-weight: bold;
    
  }

  h2 {
    display: flex;
    justify-content: center;
  }

.contaktblock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px ;
}

.map {
  grid-column: 2/2;
  }

.tekster {
  grid-column: 1/1;
  background-color: hsla(193.1,69.6%,60%,0.3);
}