/* isabellas side */
/* definere box*/
* {
  margin: 2px;
  padding: 3.5px;
}
img {
  max-width: 100%;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
h1 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 2rem;
}
h2 {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
}
h3 {
  font-family: "EB Garamond", serif;
  font-size: 1rem;
  text-align: center;
}
#last_section h2 {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  text-align: center;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.fodbehandlinger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: hsl(199, 24, 72);*/
  background-color: rgb(173, 211, 233);
  margin: 1px;
  padding: 5px;
}

/*
.gavekort {
    width: 100%;
    aspect-ratio: 1380/760;
   background-image: url(svg/gavekort.svg);
   background-size: cover;
   position: relative;
}*/
