/* isabellas side */
/* definere box*/
img {
  max-width: 100%;
}
h1 {
  font-family: 'EB Garamond', serif;
  text-align: center;
}
h2 {
  font-family: 'EB Garamond', serif;
  text-align: center;
}
p {
  font-family: "Raleway", sans-serif;
}
.fodbehandlinger {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22fr;
}

.navn {
  grid-column: 1/2;
}

/*
.gavekort {
    width: 100%;
    aspect-ratio: 1380/760;
   background-image: url(svg/gavekort.svg);
   background-size: cover;
   position: relative;
}*/
